# tex intermediary outputs
*.log
*.aux
*.listing
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz

# C object files
*.o
# C executables
TPs/corriges/morpion
TPs/corriges/tp1
TPs/corriges/tp2_exo1
TPs/corriges/tp2_exo3
TPs/corriges/tp2_exo4
TPs/corriges/tp3_exo1
TPs/corriges/tp3_exo2
TPs/corriges/tp3_exo3
TPs/corriges/tp4_exo1
TPs/corriges/tp4_exo2
TPs/corriges/tp4_exo3

# output PDFs, excluded to avoid increasing the git history size too much
Cours/cours1/cours_1.pdf
Cours/cours2/cours_2.pdf
Cours/cours3/cours_3.pdf
Cours/cours4/cours_4.pdf
TPs/Jeu/Jeu.pdf
TPs/TP1/tp1.pdf
TPs/TP2/tp2.pdf
TPs/TP3/tp3.pdf
TPs/TP4/tp4.pdf
